<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Admin Login</title>
    </head>

    <body>
        <img src="/images/logo.png" alt="Logo">

        <h1>Admin Login</h1>

        <form action="/login/admin" method="post">

            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>

            <div>
                <button type="submit">Login</button>
            </div>

            <div>
                <p>Are you a user?</p>
                <a th:href="@{/login}">User Login</a>
            </div>

        </form>

        <div>
            <p th:text="${error}"></p>
        </div>

    </body>
</html>